*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    height: 100vh;
}

.left-section{
    margin: 20px 0 20px 20px;
    display: flex;
    width:50%;
    background-color: #B0E6FA;
    align-items: center;
    justify-content: center;
}

.left-section > img{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: white solid 20px;
}

.right-section{
    
    display: flex;
    flex-direction: column;
    width:50%;
    align-items: center;
    justify-content: center;
}

.right-section > img{
    width: 200px;
    margin-left: -200px;
}

button{
    color: white;
    font-size: 10px;
    font-family: Nunito;
    font-weight: SemiBold;
    font-size: 15px;
    border: solid #3dc9f0;
    width: 400px;
    height: 50px;
    margin-top: 30px;
    background: #03AEEE 0% 0% no-repeat padding-box;
    border-radius: 6px;
    color: #FFFFFF;
    box-shadow: 0px 3px 6px #B0E6FA;
}

@media only screen and (max-width: 1600px) {
    .left-section >img{
        width: 350px;
        height: 350px;
        border-radius: 50%;
        border: rgb(156, 202, 223) solid 10px;
    }

    .right-section > img{
        width: 135px;
        margin-left: -120px;
    }


    form > *{ 
        display: block;
        margin-top: 20px ;
        width: 250px;
        height: 25px;
        border-radius: 3px;
        border:  rgb(145, 139, 139) 0.2px solid;
    }

    button{
       
        border: solid #3dc9f0;
        background-color: #3dc9f0;
    }
  }

  /* <!------------------------------------------------------------------------------------------------- */

  