.status{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border-radius: 17px;
    justify-items: center;
    align-items: center;
    height: 40px;
    width: 150px;
    padding-top: 10px;
}