
.Card {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 20px;
    padding-top: 40px;
    margin-left: 300px;
    background-color: white; 
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    justify-content: space-between;
    height: 300px;
    width: 1500px;
  }

  .Card >*{
    margin-left: 30px;
    padding-right: 30px;
    width: 25%;
  }

  /* .status{
    height: 50px;
    margin-right: 40px;
    
  } */
